# 1. Data import and processing

## 1.1 引入数据集，生成dataframe

In [1]:
import pandas as pd
import numpy as np

data_path ='./dataset_new.csv'
columns_name = ('date', 'time', 'sensor_id', 'value', 'activity', 'status') # status是begin或end
df = pd.read_csv(data_path, names = columns_name)

In [2]:
df.dtypes

date         object
time         object
sensor_id    object
value        object
activity     object
status       object
dtype: object

In [3]:
'''
#一些测试
df.iloc[:,:4]
df_first4Attr = df.iloc[:,:4]
df[df_first4Attr.isnull().values==True]
'''

'\n#一些测试\ndf.iloc[:,:4]\ndf_first4Attr = df.iloc[:,:4]\ndf[df_first4Attr.isnull().values==True]\n'

In [4]:
df['sensor_id'].unique()

array(['M35', 'AD1-A', 'M34', 'M32', 'M33', 'M36', 'M30', 'M29', 'M37',
       'M38', 'M39', 'M41', 'M40', 'M49', 'M46', 'M50', 'M44', 'M47',
       'M48', 'M43', 'M28', 'M42', 'M27', 'M26', 'M25', 'M24', 'M21',
       'M19', 'M18', 'M17', 'M16', 'M15', 'D09', 'M14', 'M13', 'M08',
       'M07', 'M02', 'M45', 'M51', 'D08', 'AD1-B', 'AD1-C', 'D10', 'I03',
       'M06', 'M09', 'M10', 'M01', 'D12', 'L04', 'M23', 'M31', 'D15',
       'D07', 'D14', 'M11', 'M05', 'M03', 'M04', 'M22', 'M12', 'M20',
       'L11', 'D05', 'D03', 'L10', 'L06', 'L13', 'L12', 'L09'],
      dtype=object)

## 1.2 判断缺失值

In [5]:
df.dropna(axis=0, how='all', inplace=True) ## 删去了两行空白行
df

              date     time sensor_id    value          activity status
0       02/02/2009  7:15:17       M35       ON  R1_Bed_to_Toilet  begin
1       02/02/2009  7:15:21     AD1-A  2.82231               NaN    NaN
2       02/02/2009  7:15:23       M35      OFF               NaN    NaN
3       02/02/2009  7:15:23       M35       ON               NaN    NaN
4       02/02/2009  7:15:28     AD1-A  2.79926               NaN    NaN
...            ...      ...       ...      ...               ...    ...
138625  04/04/2009  7:26:16       M48      OFF               NaN    NaN
138626  04/04/2009  7:27:47       M48       ON               NaN    NaN
138627  04/04/2009  7:27:50       M47       ON               NaN    NaN
138628  04/04/2009  7:27:59       M47      OFF               NaN    NaN
138629  04/04/2009  7:28:01       M48      OFF          R2_Sleep    end

[138630 rows x 6 columns]

## 1.3 合并date和time

In [6]:
# df.drop(df.tail(1).index, inplace = True) #从尾部去掉 1 行，这一行是异常行

In [7]:
# df["datetime"] = pd.to_datetime(df["date"] + " "+ df["time"], format='%d/%m/%Y %H:%M:%S')
df["datetime"] = pd.to_datetime(df["date"] + " "+ df["time"], dayfirst=True)

# df["datetime"]

In [8]:
# df = df.set_index("datetime") #千万不能设datetime为index! 因为datetime有重复值！！！妈的，debug半个多小时。
df

,date,time,sensor_id,value,activity,status,datetime
0,02/02/2009,7:15:17,M35,ON,R1_Bed_to_Toilet,begin,2009-02-02 07:15:17
1,02/02/2009,7:15:21,AD1-A,2.82231,NaN,NaN,2009-02-02 07:15:21
2,02/02/2009,7:15:23,M35,OFF,NaN,NaN,2009-02-02 07:15:23
3,02/02/2009,7:15:23,M35,ON,NaN,NaN,2009-02-02 07:15:23
4,02/02/2009,7:15:28,AD1-A,2.79926,NaN,NaN,2009-02-02 07:15:28
...,...,...,...,...,...,...,...
138625,04/04/2009,7:26:16,M48,OFF,NaN,NaN,2009-04-04 07:26:16
138626,04/04/2009,7:27:47,M48,ON,NaN,NaN,2009-04-04 07:27:47
138627,04/04/2009,7:27:50,M47,ON,NaN,NaN,2009-04-04 07:27:50
138628,04/04/2009,7:27:59,M47,OFF,NaN,NaN,2009-04-04 07:27:59
138629,04/04/2009,7:28:01,M48,OFF,R2_Sleep,end,2009-04-04 07:28:01

In [9]:
# # 检查时间都是前一个<=后一个
# for a, b in zip(df.datetime, df.datetime[1:]):
#     if(a>b):
#         print(a)
#
# # all(a <= b for a, b in zip(df.index, df.index[1:]))

## 1.4 检查R1_sleep行为不存在嵌套

In [15]:

def check_if_R1_sleep_nesting(df):
    stack = []
    # cnt = 0
    for index,row in df.iterrows():
        if (df.loc[index, 'activity'] == "R1_Sleep"):
            if row.status == 'begin':
                stack.append(row.activity)
                # print(stack)
            elif row.status == 'end':
                stack.pop()
                # print(stack)
            if(len(stack) > 1):
                print("Alarm !")

        # # 每100次打印一次栈的状态
        # cnt += 1
        # if cnt % 100 == 0:
        #     print(stack)
    print("The final stack value:", stack)

check_if_R1_sleep_nesting(df)

The final stack value: []